/*
    estilos.css
	Larvaterapia
	Created by Nicolàs Fredes V. on 2012-05-27.
	Copyright 2012 Nicolàs Fredes v.. All rights reserved.
*/
@font-face {
    font-family: 'BreeRegular';
    src: url('fonts/BreeRegular.otf');
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('fonts/Myriad Pro Regular.ttf');
}
body{
    background-color: #0d77a7;
}
.main{

}
.main-content{

}

/***    Begin Header  ***/
#header{
	background: url('../img/png/home/barra_menu.png');
	height: 77px; 
}
#logo{
    background: url('../img/png/home/logo.png');
    background-repeat: no-repeat;
    height: 63px;
    margin: 10px 0 0 0;
    overflow: hidden;
}
#logo a{
    display: block;
    height: 100%;
    width: 10000px;
    margin-left: -50px;
}
#menu{
    font-family: Arial;
    font-size: 12px;
    color: #ffffff;
    margin: 30px 0 0 20px;
}
#menu .menu-item a{
    color: #ffffff;
    text-decoration: none;
}
#last-item{
    margin-left: -15px;
}
/***    End Header  ***/

/*****************************************************************/

/***    Begin Main-Content  ***/

/*  Banner  */
#banner{
    background: url('../img/png/home/fondos_banner.jpg');
    height: 399px;
    position: relative;
}
#banner .container #slider div img{
    width: 830px;
}
#banner-cont{
    background: url('../img/png/banner/banner.png');
}
.bx-prev, .bx-next{
    display: none;
}
/*  Banner  */
div.separator{
    background: url('../img/png/home/separador.png');
    height: 7px;
}
#content{
    background: #ffffff;
}

/***    Begin Footer    ***/
#footer{
    background: url('../img/png/home/fondos_banner.jpg');
    height: 356px;
}
#footer-cont{
    margin-top: 70px;
}

/***    End Footer    ***/

/****************************************************************/

/***    Begin Quienes somos   ***/
#q-somos{
    margin: 0 0 300px 0;
}
#q-somos h2{
    font-family: "BreeRegular";
    font-size: 30px;
    color: #006d9c;
}
#q-somos h3{
    font-family: "Myriad Pro";
    font-size: 24px;
    color: #006d9c;
    font-weight: bold;
}
#q-somos p{
    font-family: "Myriad Pro";
    font-size: 14px;
}
#q-somos p.cerca-tit{
    margin-top: -20px;
}
#q-somos-img{
    margin: 20px 0 0 0;
    background: url('../img/png/quienes_somos/fotos.png');
    width: 774px;
    height: 372px;
}
/***    End Quienes somos   ***/

/*************************************************************/

/***    Begin Larvaterapia  ***/
.larvaterapia-cont h2{
    font-family: "BreeRegular";
    color: #006d9c;
    font-weight: bold;
    font-size: 30px;
}
.larvaterapia-cont h4{
    font-family: "Myriad Pro";
    color: #006d9c;
    font-weight: bold;
    font-size: 17px;
}
.larvaterapia-cont p{
    font-size: 14px;
    font-family: "Myriad Pro";
}
#larvaterapia-img div{
    position: relative;
    margin-bottom: 30px; 
}
#larvaterapia-img div p#first{
    bottom: -626;
    position: absolute;
    left: 0;
    width: 437px;
    text-align: left;
    font-family: "Myriad Pro";
    font-size: 12px;
}
#larvaterapia-img div p#second{
    bottom: -626px;
    position: absolute;
    right: 7px;
    width: 463px;
    text-align: left;
    font-family: "Myriad Pro";
    font-size: 12px;
}
#larvaterapia-img img{
    margin-bottom: 50px;    
    height: 303px;
}
/***    End Larvaterapia    ***/

/*****************************************************************/

/***    Begin Clientes  ***/
.clientes-tit h2{
    font-family: "BreeRegular";
    color: #006d9c;
    font-weight: bold;
    font-size: 30px;
}
.clientes-cont{
    background: #e6e6e6;
    height: 1030px;
    margin: 0 0 100px 0;
}
.clientes-cont h3{
    font-family: "BreeRegular";
    font-size: 18px;
    color: #006d9c;
    margin-top: 10px;
}
.clientes-cont .esquina{
    background: url('../img/png/clientes/esquina_barra_link.png');
    background-repeat: no-repeat; 
    width: 12px;
    height: 20px;
    margin: -5px 0 0 -10px;
}
.clientes-item{
    background: url('../img/png/clientes/barras_links.png');
    background-repeat: repeat-y;
    height: 83px;
    margin: 0 0 20px -10px;
    color: #ffffff;
}
.clientes-item .item-cont{
    margin: 8px 0 0 -17px;
}
.clientes-cont span a{
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    font-family: "Myriad Pro";    
}
.clientes-cont span a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.clientes-cont p{
    font-size: 14px;
    font-family: "Myriad Pro";
    
}
.clientes-item .img-item{
    margin: 8px 0 0 30px;
}
/***    End Clientes    ***/

/*****************************************************************/

/***    Begin Pacientes  ***/
.pacientes-tit h2{
    font-family: "BreeRegular";
    color: #006d9c;
    font-weight: bold;
    font-size: 30px;
}
.pacientes-cont{
    background: #e6e6e6;
    height: 250px;
    margin: 0 0 100px 0;
}
.pacientes-cont h3{
    font-family: "BreeRegular";
    font-size: 18px;
    color: #006d9c;
    margin-top: 10px;
}
.pacientes-cont .esquina{
    background: url('../img/png/clientes/esquina_barra_link.png');
    background-repeat: no-repeat; 
    width: 12px;
    height: 20px;
    margin: -5px 0 0 -10px;
}
.pacientes-item{
    background: url('../img/png/clientes/barras_links.png');
    background-repeat: repeat-y;
    height: 50px;
    margin: 0 0 20px -10px;
    color: #ffffff;
}
.pacientes-item .item-cont{
    margin: 13px 0 0 -17px;
}
.pacientes-cont span{
    font-size: 14px;
    font-family: "Myriad Pro";
    
}
.pacientes-cont p a{
    color: #ffffff;
    font-size: 14px;
    font-family: "Myriad Pro";
    text-decoration: none;
}
.pacientes-cont p a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.pacientes-item .img-item{
    margin: 8px 0 0 30px;
}
/***    End Pacientes    ***/

/***********************************************************/

/***    Begin Contacto  ***/
#contact-form{
    background: url('../img/png/contacto/fondo.png');
    width: 551px;
    height: 245px;
    position: relative;
    display: none;
}
#contact-form form img{
    position: absolute;
    z-index: 1;
}
#contact-form form{
    display: block;
    position: absolute;
    top: 73px;
    right: -30px;
}
#contact-form form input{
    height: 17px;
    margin-top: -2px;
}
#contact-form form textarea{
    height: 55px;    
    z-index: 100;
}
#contact-form button{
    position: absolute;
    top: 208px;
    right: 60px;
    height: 30px;
}
#msg{
    position: absolute;
    bottom : -8px;
    left : 30px;
    display: none;
}
/***    End Contacto  ***/